.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 16px 0 16px 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 24px;
}

.summary {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.summary-contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: right;
}

.resume-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
}

.resume-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.resume-section {
}

p {
  margin: 4px 0 4px 0;
}
